In [3]:
# basic problems


def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2 == 0:
    # both numbers are even
        if a < b:
            result = a
        else:
            result = b

    else:
        #one or both numbers are ood
        if a > b:
            result = a
        else:
            result = b
            
    return result

In [4]:
lesser_of_two_evens(2,5)

5

In [5]:
lesser_of_two_evens(8,12)

8

In [21]:
def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [22]:
animal_crackers('Levelheaded Llama')

['levelheaded', 'llama']

True

In [23]:
animal_crackers('Crazy cat')

['crazy', 'cat']

True

In [24]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [25]:
makes_twenty(2,3)

False

In [26]:
makes_twenty(10,10)

True

In [29]:
makes_twenty(20,2)

True

In [31]:
#another solution

def makes_twenty(n1,n2):
    
        return (n1+n2) == 20 or n1 ==20 or n2 ==20
    
        return False

In [32]:
makes_twenty(20,2)

True

In [33]:
makes_twenty(30,2)

False

In [39]:
# level 1 problems

def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [40]:
old_macdonald('macdonald')

'MacDonald'

In [43]:
def master_yoda(text):
    wordlist = text.split()
    reversed_word_list = wordlist[::-1]
    return reversed_word_list

In [44]:
master_yoda('I am home')

['home', 'am', 'I']

In [45]:
mylist = ['a','b','c']

In [46]:
' '.join(mylist)

'a b c'

In [47]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [48]:
almost_there(230)

False

In [49]:
almost_there(400)

False

In [52]:
almost_there(209)

True

In [53]:
almost_there(103)

True

In [5]:
# level 2
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [6]:
has_33([1,3,3])

True

In [7]:
has_33([1,3,1,3])

False

In [8]:
has_33([3,1,3])

False

In [9]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [10]:
paper_doll('Hello')

'HHHeeellllllooo'

In [11]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'Bust'

In [12]:
blackjack(4,5,6)

15

In [13]:
blackjack(4,12,8)

'Bust'

In [16]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [17]:
summer_69([1,3,6])

4

In [18]:
summer_69([3,4,5,6,7,9])

12

In [21]:
summer_69([3,4,5,6,7,9,11,7])

30

In [22]:
# Challenging problems

def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [23]:
spy_game([1,2,3,4,0,0,7,5])

True

In [24]:
spy_game([1,2,3,4,1,0,7,5])

False

In [25]:
def count_primes(num):
    
    if num < 2:
        return 0
    
    primes = [2]
    
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [26]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [27]:
count_primes(87)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]

23