In [1]:
#1

def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [5]:
#2

5 in range(0,10)

True

In [8]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range of low and high')
    else:
        print('not in range')

In [9]:
ran_check(5,2,7)

5 is in range of low and high

In [11]:
#3

def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f'Orginal String: {s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [13]:
s = 'Hello Mr Rogers how are you on this fine Tuesday'
up_low(s)

Orginal String: Hello Mr Rogers how are you on this fine Tuesday
Lowercase count: 35
Uppercase count: 4

In [14]:
#4

def unique_list(lst):
    seen_numbers = []
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [16]:
unique_list([1,2,3,4,4,5,5,6,6,7,7,7,9])

[1, 2, 3, 4, 5, 6, 7, 9]

In [17]:
#other solution
def unique_list(lst):
    return list(set(lst))

In [18]:
unique_list([1,2,3,4,4,5,5,6,6,7,7,7,9])

[1, 2, 3, 4, 5, 6, 7, 9]

In [19]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [20]:
multiply([1,2,3])

6

In [30]:
#5

def palindrome(s):
    
    #removes space
    s = s.replace(' ','')
    
    #checks if string is == reveresed version of the string
    return s == s[::-1]

In [31]:
palindrome('nurses run')

True

In [46]:
#6

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset = set(alphabet)
    
    str1 = str1.replace(' ','')
    
    str1 = str1.lower()
    print(str1)
    
    str1 = set(str1)
    
    return str1 == alphaset

    print(str1)

In [47]:
ispangram("The quick brown fox jumps over the lazy dog")

thequickbrownfoxjumpsoverthelazydog

True