Q1: 

Numbers: It Stores numerical information. There are 2 types of numbers in Python. We have Int which is a whole number, we have Float which is a number with a decimal.

Strings: These contain any kind of character/s that are surrounded by either single or double quotation marks. It can contain numbers and letters combinbed.

Lists: A collection of items which are ordered and changeable. It allows duplicate members.

Tuples: A collection of items which is ordered and unchangeable. It allows duplicate members.

Dictionaries: A collection of items which are unordered and unindexed. It does not allow duplicate members

In [4]:
#Q2:

(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

In [5]:
#Q3:

4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

#Q4

3 + 1.5 + 4

Floating point number

In [1]:
#Q5 

#Square root:
100 ** 0.5

10.0

In [2]:
#Q6

#Square:
10 ** 2

100

In [3]:
#Q7 

s = "Hello"

s[1]

'e'

In [4]:
#Q8

s = "Hello"

s[::-1]

'olleH'

In [5]:
s = "Hello"

s[4]

'o'

In [6]:
#Q9

[0]*3

[0, 0, 0]

In [8]:
list2 = [0, 0, 0]
list2

[0, 0, 0]

In [15]:
#10

list3 = [1,2,[3,4,'hello']]

In [16]:
list3[2][2] = "goobye"

In [17]:
list3

[1, 2, [3, 4, 'goobye']]

In [20]:
#Q11

list4 = [5,3,4,6,1]

In [21]:
sorted(list4)

[1, 3, 4, 5, 6]

In [22]:
list4.sort()
list4

[1, 3, 4, 5, 6]

In [24]:
#Q12

d = {'simple_key':'hello'}

d ['simple_key']

'hello'

In [25]:
d = {'k1':{'k2':'hello'}}

d['k1']['k2']

'hello'

In [26]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [27]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [1]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [2]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Q13

can you sort a dictionary?

No becuase normal dictionaries are mappings not a sequence

Q14

what is major difference between tuples and lists?

tuples are immutable

In [3]:
t = (1,2,3)

Q15

What is unique about a set?

They dont allow for duplicate items

In [4]:
#Q16

list5 = [1,2,2,33,4,5,11,22,3,3,2]

In [5]:
set(list5)

{1, 2, 3, 4, 5, 11, 22, 33}

In [6]:
#Q17

2 > 3

False

In [7]:
3 <= 2

False

In [9]:
3 == 2.0

False

In [11]:
3.0 == 3

True

In [13]:
4 ** 0.5 != 2

False

In [14]:
#Q18

l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False